@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}
.wrapper {
  position:relative; /*topBtnの親要素に指定*/
}
/* Style the body */
body {
  font-family:'Open Sans',sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 1px;
  text-align: center;
  background: black;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 20px;
}
#search-message {
  background-color: red;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
  text-decoration: none;
}
.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navi-items {
  display: flex;
  align-items: center;
  order: 1;
}

.navi-item {
  padding: 14px 20px;
  display: inline-block;
  color: white;
}

/* Change color on hover */
.navi-item:hover {
  background-color: white;
  color: black;
}
/*検索ボックス*/
.search-box{
max-width:300px;
width: 300px;
height:30px;
border-radius:2px;
outline:0;
background: white;
border:1px solid #ccc;
padding: 10px;
font-family:'Open Sans',sans-serif;
font-size:110%;
color:black;
}
.msg {
  padding:12px;
  font-weight:850;
  }
  .msg.success {
  background:#CCFFCC;
  border:2px solid #00CC00;
  color :green;
  }
  .msg.error {

  background:#FFEBE8;
  border:2px solid #990000;
  color :red;
  }
.not-contents {
  margin-left: 50px;
}
.not-content{
  font-size: 20px;
}
.profile-img {
  border-radius: 50%;
  width:  200px;
  height: 200px;
}
.post-img{
  width:  300px;
  height: 200px;
  border-radius: 0.67em;
  margin-left: 18px;
}
.delete-btn {
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  border: solid 2px gray;
  transition: .4s;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 li {
   margin-bottom: 5px;
 }

 a {
   color: black;
   transition: color 0.3s;
   font-size: 15px;
 }

 a:hover{
   color : gray;
 }
textarea {
    border: 2px solid black;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    /* background-color: ;  /* 背景色 */ */
    width: 20em;             /* 横幅 */
    height: 120px;           /* 高さ */
    font-size: 20px;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
}
.button {
  display: inline-block;
  weight: 150px;
  height: 30px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px gray;
  border-radius: 3px;
  transition: .4s;
}

.button:hover {
  background: black;
  color: white;
}
.follow-btn{
  /* margin-top: 10px; */
  text-align: center;
}
.follow-btn a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}
.follow-btn a:hover {
  background: black;
  color: white;
}
.post-input-label {
  display: inline-block;
  weight: 180px;
  height: 30px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px gray;
  border-radius: 3px;
  transition: .4s;
  font-size: 11px;
  }
.post-input-label:hover{
  background-color: black;
  color: white;
  }
.post-input-btn {
  display:none;
}
.post-form-btn{
  text-align: center;
  display: flex;
}

}
.post-form {
  margin-bottom: 30px;
}

 /* Change button  */
input[type="text"]{
  /* width:300px;
  height:20px;
  margin-bottom: ;
  border:1px solid #ccc;
  padding: 10px;
  font-family:'Open Sans',sans-serif;
  font-size:50%;
  color:black; */
}

  /* Change button */
input[type="submit"]:hover{
  background:black;
}


/* Column container */
.row {
  /* display: -ms-flexbox; /* IE10 */
  display: flex;
  /* -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  /* -ms-flex: 30%; /* IE10 */
  /* flex: 0 0 30%; */
  width: 35%;
  background-color: #f1f1f1;
  padding: 20px;
  min-height: 30vw;
}

.side-item{
  text-align:  center;
}

/* Main column */
.main {
  /* -ms-flex: 70%; /* IE10 */
  /* flex: 0 0 70%; */
  width: 65%;
  background-color: white;
  padding: 20px;
}
/* Change button */
textarea{
 width: 60%;
 height: 100px;
 padding: 5px;
 border-radius: 5px;
 border: 1px solid black;
 appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
}

.post_list {
  width: 700px;
}


/* err */
.err {
  color: #ff3d00;
  font-weight: bold;
  font-size: 13px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.following-info {
  border-top : solid 3px black;
  border-right : solid 3px black;
  border-left : solid 3px black;
  border-bottom : solid 3px black;
  border-radius: 0.50em;
  margin-bottom: 20px;
}
.following-info img{
  margin-left: 10px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.follow-item {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

}
.follow-content{
  flex-direction: column;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.post_list{
}
.post_item {
  padding : 0 10px 10px 10px;
  border-top : solid 2px black;
  border-right : solid 2px black;
  border-left : solid 2px black;
  border-bottom : solid 1px black;
  border-radius: 0.50em;
  margin-bottom: 20px;
  width: 100%;
}

.post_info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.post-username {
 font-size: 20px;
 text-decoration: none;
 margin-right: 20px;
}
.post-date{
  font-size: 13px;
  font-family: arial black;
  color: black;
  margin:0 0 0 auto;
}
.profile_post_img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.post_content {
margin-left: 60px;
width: 80%;
margin-bottom: 10px;
}
.post_text {
  font-size: 18px;
  display: inline;
  word-wrap: break-word;
  /* margin-left: 60px; */
}
/* #text{
vertical-align: top;
} */
.post_btn {
  display: flex;
  margin-left: 60px;
}
.post_btn a{
  display: inline-block;
  weight: 150px;
  height: 30px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px gray;
  border-radius: 3px;
  transition: .4s;
  font-size: 11px;
}
.post_btn a:hover{
  background: black;
  color: white;
}
.post_btn > * {
  margin-right: 10px;
}
.share-delete{
  font-size: 18px;
  color: black;
  background-color:#C0C0C0;
  display: block;
  margin-bottom: 12px;
}
.share_comment {
  font-size: 20px;
  border-radius: 0.43em;
  background-color: #C0C0C0;
  margin-bottom: 10px;
  margin-left: 60px;
  padding-left: 10px;
  padding-bottom: 3px;
}
.share_text {
  font-size: 18px;
  display: inline;
  word-wrap: break-word;

}
.share_info {
  display: flex;
  align-items: center;
  padding: 10px 0 0 5px;
  margin-bottom: 12px;
}
.share_name {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right : 20px;
  font-size: 17px;
}
.share_img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /* margin-left:10px;
  margin-top: 10px;
  /* * */
  margin-right: 20px;
}
.share-date {
  display: flex;
  font-family: arial black;
  color: #443e3e;
  font-size: 11px;
  /* padding-right: 10px; */
  margin:0 0 0 auto;
}
.share-img {
  width: 300px;
  height: 200px;
  border-radius: 0.67em;
  margin-left: 10px;
}
.follow-buttun a{
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;

}

.follow-buttun a:hover {
  background: black;
  color: white;
}
.pagers {
  font-size: 17px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  margin-right: 10px;
  border-radius: 10px;
}

.pagers:hover {
  background-color: white;
  border: 3px solid black;
  color: black;
}
.pager {
  font-size: 17px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid black;
}

.pager:hover {
  background-color: black;
  border: 3px solid white;
  color: white;
}


.topBtn {
  position:fixed; /*固定*/
  bottom:20px; /*場所を右下に移動*/
  right:20px; /*場所を右下に移動*/
  display:block; /*aタグをblock要素に変更*/
  background-color:rgba(0,0,0,0.5); /*以下、デザインはご自由に！！*/
  color:#fff;
  text-decoration:none;
  font-weight:bold;
  font-size:11px;
  width:60px;
  height:60px;
  text-align:center;
  line-height:22px;
  border-radius:50%;
  padding-top:30px;
  box-sizing:border-box;
}
.topBtn:before {
  content:'\25B2';
  position:absolute;
  top:10px;
  left:0;
  width:100%;
  text-align:center;
  font-size:20px;
}
.topBtn:hover {
  opacity:0.7;
}
.search-item {
  height :150px;
  border-top : solid 2px black;
  border-right : solid 2px black;
  border-left : solid 2px black;
  border-bottom : solid 1px black;
  border-radius: 0.50em;
  margin-bottom: 20px;
  display: flex;

}
.search-contents{
 margin-top: 20px;
}
.search-content{
 margin-top: 10px;
}
.search-img {
  margin: 20px 20px 20px 20px;

  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.footer {
  width: 100%;
  background: black;
  color : white;
  text-align: center;
  bottom: 0; /*下に固定*/
  padding: 20px;
  text-align: center;
}

.btn.active {
background-color: #ccc;
}

.btn > span:last-of-type,
.btn.active > span:first-of-type {
  display: none;
}
.btn.active > span:last-of-type {
  display: inline;
}
