@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{
  padding:;
  margin:0;
}

body{
  font-family:'Open Sans',sans-serif;
}
/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 0 0 70%;
  background-color: white;
  padding: 20px;
}
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 0 0 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

fieldset{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;

}
h1{
  background: black;
  padding:20px 0; /*PADDING TODOS OS LADOS DE 20PX*/
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}
form{
  background:#f0f0f0;
  padding:6% 4%;
}
input[type="password"]{
  width:76%;
  height:20px;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4% 4% 4% 4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}
 .file-btn {
   display: none;
 }
.file-btn-label {
  display: inline-block;
  weight: 180px;
  height: 30px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  border: solid 2px gray;
  border-radius: 3px;
  transition: .4s;
  font-size: 11px;
  background-color: gray;
}

.file-btn-label:hover{
  background:black;
  border: solid 2px black;
  color: white;
}
input[type="text"]{
  width:76%;
  height:20px;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4% 4% 4% 4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}
input[type="submit"]{
  width:100%;
  background:gray;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:white;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:black;
}
::-webkit-input-placeholder {

}
p{
  text-align: center;
}
a{
  color: gray;
  transition: color 0.5s;
  font-size: 15px;
  align-items: center;
  margin:auto;
　display:block;
}

a:hover{
  color : black;
}

.err {
  color: #ff3d00;
  font-weight: bold;
  font-size: 13px;
}
.share-form {
  width: 400px;
}
.share_comment {
  background-color: #f9f9f9;
  margin: 20px 0 20px;
  width: 434px;
  border-radius: 0.5em;
}
.share_text {
  font-size: 18px;
  display: inline;
  word-wrap: break-word;
}
.share_info {
  display: flex;
  align-items: center;
  width: 400px;
}
.share_img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}
.post-img{
  width:  300px;
  height: 200px;
  border-radius: 0.67em;
  margin-left: 20px;
}
textarea {
  font-size: 1em;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.msg {
    padding:12px;
    font-weight:850;
}
.msg.success {
/* background:#CCFFCC;
border:2px solid #00CC00; */
color :green;
}
.msg.error {
/* background:#FFEBE8;
border:2px solid #990000; */
color :red;
}
.balloon{
  position: relative;
  padding: 0.5px;
  background-color: pink;
  border-radius: 0.5em;
}

/* beforeで三角を表現 */
.balloon:before{
  content: '';
  position: absolute;
  left: 20px;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid pink;
  border-left: 15px solid transparent;
}
 .profile-img{
  border-radius: 50%;
  width: 200px;
  height:200px;
}
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: gray;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: black;
  color: gray;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
